.location,
.contact {
  display: flex;
}

.location {
  width: 80%;
  margin: 2vw auto 5vw auto;
  align-items: center;
  justify-content: space-between;
}

.location img {
  border-radius: 10px;
  width: 27vw;
}

.description {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 23vw;
  background-color: #fdf3f0;
  padding-left: 5vw;
  border-radius: 10px;
  font-size:1.2vw;
}

.description h2 {
  display: block;
}

.contact1 {
  margin-right: 3vw;
}
