/* for flex container */

.rightorange,
.rightwhite,
.leftwhite {
  overflow: hidden;
  border-radius: 5px;
  font-size: 1.7vw;
}

.rightwhite,
.leftwhite {
  background-color: #fdf3f0;
}

.rightorange .description,
.rightwhite .description,
.leftwhite .description {
  padding-left: 2vw;
}

.rightorange,
.rightwhite {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 5vw auto;
  justify-content: space-between;
}

.rightorange p,
.rightwhite p {
  width: 85%;
}

.leftwhite p {
  width: 90%;
}

.rightorange img,
.rightwhite img,
.leftwhite img {
  width: 30vw;
}

.rightorange {
  background-color: #e7816b;
  color: white;
}

.leftwhite .description {
  margin-left: 5vw;
}

.leftwhite {
  width: 85%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: row-reverse;
}

/* for place */

.placecontainer {
  display: flex;
  width: 80%;
  margin: 5vw auto 10vw auto;
  justify-content: center;
}

.nation {
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nation img {
  width: 20vw;
}

.nation h3 {
  font-size: 1.8vw;
}

.nation button {
  width: 10.5vw;
  height: 4.5vw;
  cursor: pointer;
  color: white;
  background-color: #e7816b;
  border: none;
  border-radius: 5px;
  transition: opacity 0.4s ease;
  font-size: 1.5vw;
}

.nation button:hover {
  opacity: 0.8;
}

@media all and (min-width: 1440px) {
  .rightorange,
  .rightwhite,
  .leftwhite {
    width: 76.5rem;
    font-size: 1.7rem;
  }

  .rightorange,
  .rightwhite {
    margin: 5rem auto;
  }

  .rightorange .description,
  .rightwhite .description,
  .leftwhite .description {
    padding-left: 2rem;
  }

  .rightorange img,
  .rightwhite img {
    width: 26rem;
  }

  .leftwhite img {
    width: 28rem;
    height: 42rem;
  }

  .leftwhite .description {
    margin-left: 2rem;
  }

  .placecontainer {
    width: unset;
    margin: 5rem 0;
  }

  .nation {
    margin: 0 2rem;
  }

  .nation img {
    width: 20rem;
  }

  .nation h3 {
    font-size: 1.8rem;
  }

  .nation button {
    width: 14rem;
    height: 5rem;
    font-size: 1.7rem;
  }
}

@media all and (max-width: 768px) {
  .rightorange,
  .leftwhite,
  .rightwhite {
    flex-direction: column-reverse;
  }
  .rightorange img,
  .rightwhite img,
  .leftwhite img {
    width: 100%;
    height: 47vw;
  }

  .rightwhite {
    justify-content: center;
    margin: 5vw auto 50vw auto;
  }

  .description {
    text-align: center;
  }

  .rightorange h1,
  .rightwhite h1,
  .leftwhite h1 {
    font-size: 7vw;
  }

  .rightorange p,
  .rightwhite p,
  .leftwhite p {
    width: 95%;
    margin: 1vw auto 3vw auto;
    font-size: 4vw;
  }

  /* for place */

  .placecontainer {
    width: 90%;
  }

  .nation {
    margin: 0 2vw;
  }

  .nation img {
    width: 23vw;
  }

  .nation h3 {
    font-size: clamp(1.6rem, 2.8vw, 3rem);
  }

  .nation button {
    width: 18vw;
    height: 6vw;
    font-size: 2.3vw;
  }
}

@media all and (max-width: 400px) {
  .placecontainer {
    flex-direction: column;
  }

  .rightorange img,
  .rightwhite img,
  .leftwhite img {
    height: unset;
  }

  .nation img {
    width: 60%;
  }

  .nation h3 {
    font-size: 6.5vw;
  }

  .nation button {
    width: 38vw;
    height: 10vw;
    font-size: 4vw;
  }
}
