.place {
  display: flex;
  width: 80%;
  margin: 5vw auto 10vw auto;
  justify-content: center;
}

.formcontainer {
  display: flex;
  width: 65%;
  margin: 2vw auto 5vw auto;
  align-items: center;
  background-color: #e7816b;
  padding: 5vw;
  border-radius: 10px;
}

.buttoncontainer {
  display: flex;
  justify-content: flex-end;
}

.forms button {
  width: 13vw;
  height: 4.5vw;
  cursor: pointer;
  font-size: 2vw;
}

.contactdescription {
  font-size: 1.6vw;
}

.contactdescription p {
  width: 90%;
}

.formlist {
  display: flex;
  flex-direction: column;
}

.formlist input[type="text"],
textarea {
  width: 25vw;
  font-size: 1.8vw;
  background-color: transparent;
  color: white;
}

.formlist input[type="text"] {
  margin-bottom: 1.5vw;
  height: 3vw;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid gray;
}

.messageinput {
  height: 5vw !important;
}

textarea {
  resize: none;
  border: 1px solid white;
  height: 10vw;
  margin-bottom: 3vw;
}

@media all and (max-width: 768px) {
  .contactcontainer{
    margin-bottom: 50vw;
  }

  .formcontainer {
    flex-direction: column;
  }

  .contactdescription {
    font-size: 3vw;
  }

  .contactdescription h1{
    font-size: 7vw;
    margin-bottom: 2vw;
  }

  .contactdescription p {
    width: 100%;
    font-size: 4vw;
  }

  .forms {
    width: 100%;
  }

  .formlist input[type="text"], textarea {
    width: 100%;
    font-size: 3vw;
    margin: 3vw 0;
    
  }

  .formlist input[type="text"]{
    height: 4.5vw;
  }

  textarea{
    height: 10vw;
    border: none;
    border-bottom: 1px solid white;
  }

  .forms button {
    width: 24vw;
    height: 8vw;
    font-size: 2.8vw;
  }
}


@media all and (max-width: 400px){
  .place{
    flex-direction: column;
  }
}