.footer {
  background: #1d1c1e;
  color: white;
  margin-top: 22vw;
  position: relative;
  padding: 7vw 0 3vw 0;
}

/* talkabout container */
.talkabout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 65%;
  margin: 0 auto;
  position: absolute;
  background-color: #e7816b;
  padding: 2vw 4vw;
  overflow: hidden;
  border-radius: 5px;
  color: white;
  left: 15vw;
  bottom: 23vw;
}

.talkabout h1 {
  font-size: 3.8vw;
  width: 70%;
  margin-bottom: 1vw;
  position: relative;
  z-index: 1;
}

.talkabout p {
  width: 80%;
  font-size: 1.6vw;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.talkabout button {
  cursor: pointer;
  width: 15vw;
  height: 4vw;
  position: relative;
  z-index: 1;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 1vw;
  transition: background-color 0.2s ease;
}

.talkabout button:hover {
  background-color: transparent;
  border: 1px solid black;
}

.circle {
  position: absolute;
  height: 20vw;
  width: 20vw;
  background: linear-gradient(
    0deg,
    rgba(93, 2, 2, 0.0001) 0%,
    rgba(93, 2, 2, 0.497569) 100%
  );
  border-radius: 100%;
}

.circle1 {
  left: 33vw;
  top: 9vw;
}

.circle2 {
  left: 32.5vw;
  top: -11vw;
}

.circle3 {
  left: 54vw;
  top: 8vw;
}

.circle4 {
  top: -12vw;
  left: 54vw;
}

.circle5 {
  left: 11vw;
  top: 9vw;
}

/* for link in footer */
.footerlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 1.5vw auto;
  font-size: 1.6vw;
  border-bottom: 2px solid black;
  padding-bottom: 1.5vw;
}

.footerlink img {
  width: 20vw;
}

.linklist a {
  margin: 0 2vw;
  text-decoration: none;
  color: white;
  position: relative;
}

.linklist a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: blue;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  top: 1.5vw;
}

.linklist a:hover::before {
  width: 100%;
}

/* for the address */
.address {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  font-size: 1.5vw;
  align-items: flex-end;
}

.address p {
  margin-bottom: 0;
}

.socialicon img {
  margin: 0 0.5vw;
  width: 2.8vw;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.socialicon img:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@media all and (max-width: 768px) {
  .footer {
    margin-top: 27vw;
  }

  .talkabout {
    flex-direction: column;
    justify-content: center;
    height: 42vw;
    width: 60%;
    left: 15vw;
    bottom: 28vw;
  }

  .talkabout h1 {
    font-size: 5vw;
    width: 100%;
    text-align: center;
  }

  .talkabout p {
    width: 85%;
    font-size: 3vw;
    text-align: center;
    margin: 1.5vw auto;
  }

  .footerlink img {
    width: 23vw;
  }

  .footerlink {
    font-size: 1.9vw;
  }

  .linklist a::before {
    top: 2.4vw;
  }
  .talkabout button {
    width: 24vw;
    height: 8vw;
    font-size: 2vw;
    margin: 1vw 0;
  }

  .address {
    font-size: 1.9vw;
  }
}
